<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Calendar</title>
</head>
<body>
<b><h1>Welcome!</h1></b><br>

<div class="autentication">
    <a href="/test">Test</a><br>
    <a href="/signup">Sign up</a><br>
    {% if current_user.is_authenticated %}
    <a href="/logout">Log out</a>
    {% else %}
    <a href="/login">Login</a><br>
    {% endif %}
</div>

{{ data }}
{% if message %}
<i>{{ message }}</i>
{% endif %}

</body>
</html>