<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Sign up</title>
</head>
<body>
<h1>Sign up</h1>
<div>
    <form action="signup" method="post">
            <b>{{ form.nickname.label }}</b> <br>
            {{ form.nickname }}
            <b>{{ form.password.label }}</b> <br>
            {{ form.password }} <br>
            <b>{{ form.email.label }}</b> <br>
            {{ form.email }} <br>
            {{ form.submit }} <br>

        </form>
</div>
</body>
</html>